.modal-enter-done {
  opacity: 1;
  pointer-events: visible;
  transition: opacity 300ms;
}

.modal-enter-done .modal-content {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}

.modal-exit .modal-content {
  transform: translateY(-300px);
  transition: transform 300ms ease-in-out;
}

.modal-exit {
  opacity: 0;
  transition: opacity 300ms;
}
